<!DOCTYPE html>
<html ng-app="midgardApp">
<head>
    <title>Midgard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>

    <link href="css/app.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="js/Combatant.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/midgard.js"></script>
    <script type="text/javascript" src="js/combatCtrl.js"></script>
    <script type="text/javascript" src="js/roundActionCtrl.js"></script>
</head>
<body>
<div ng-controller="CombatCtrl">
    <header>
        <h3>Midgard Kampfrunden</h3>
    </header>

    <section>
        <div class="spalte" ng-repeat="group in midgard.groupList">
            <p>
                <strong>{{group.name}}</strong>
            </p>
            <ul>
                <li ng-repeat="comb in group.memberList" style="list-style-type: none">
                    {{comb.name}} (<span style="color:{{comb.currentLp|lpColor}}">{{comb.currentLp}}</span>/{{comb.lp}})
                </li>
            </ul>
        </div>
    </section>

    <section style="clear:both">
        <div>Fertig</div>
        <div class="grayed">
            <mas-combatant style="width:200px;" class="grayed" comb="comb"
                           ng-repeat="comb in midgard.roundListDone"></mas-combatant>
        </div>

        <div>Aktuell</div>
        <div class="marked">
            <mas-combatant comb="midgard.current"></mas-combatant>
            <mas-roundaction></mas-roundaction>
        </div>

        <div>Offen</div>
        <!--<div class="combatant" ng-repeat="comb in midgard.roundListOpen">-->
        <mas-combatant comb="comb" ng-repeat="comb in midgard.roundListOpen"></mas-combatant>

        <!--<div class="meter" style="width: 100px;">-->
        <!--<div style="width:{{comb.remainingHealth()}}%;background-color: {{comb.currentLp|lpColor}}"></div>-->
        <!--</div>-->
        <!--</div>-->
    </section>
</div>
</body>
</html>